#po-tr-mousepointer {
  position: absolute;
  z-index: 10000;
  width: 12px;
  height: 20px;
  background: url(images/mousepointer.png);
  top: 100px;
  left: 100px;
}

#po-tr-click {
  position: absolute;
  z-index: 10001;
  width: 64px;
  height: 64px;
  background: url(images/click.png);
}

#po-tr-character {
  width: 200px;
  height: 100px;
  border: 3px solid red;
  background: #ddd;
  color: #000;
  font-size: 10px;
  bottom: 10px;
  right: 10px;
  position: fixed;
  overflow: scroll;
  z-index: 10002;
}

#po-tr-stopped {
  width: 200px;
  height: 40px;
  background: red;
  color: white;
  padding-top: 5px;
  bottom: 10px;
  left: 10px;
  text-align: center;
  position: fixed;
  z-index: 10002;
}
